*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Sofia", sans-serif, "Yellowtail","Fiolex Girls";
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* main div */
.card{
    position: relative;
    width: 640px;
    height: 360px;
    background: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
   
}
/* create circle */
.card .cricle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    z-index: 2;
}
.card .cricle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: crimson;
    clip-path: circle(120px at center);
    transition: 0.5S;
}
.card:hover .cricle:before{
    background: burlywood;
    clip-path: circle(420px at center);
}
/* image elements */
.card img{
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    transition: 0.5s;
    z-index: 2;
}
.card:hover img{
    /* bottom: 5%; */
    left: 70%;
    height: 360px;
}
/* for content */
.card .content{
    position: relative;
    width: 60%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition:0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}
.card:hover .content{
    left: 0;
    opacity: 1;
    visibility: visible;
    
}
.card .content h2{
    color: floralwhite;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.5em;
    z-index: 2;
}
/* lighting text */
.card .content h2 span{
    
    -webkit-animation: light 1s linear infinite;
}
@keyframes light
{
    0%,80%
    {   
        color: #333;
        text-shadow: none;
    }
    100%
    {
        text-shadow: 0 0 10px burlywood,
                     0 0 20px burlywood,
                     0 0 40px burlywood,
                     0 0 80px burlywood,
                     0 0 120px burlywood,
                     0 0 160px burlywood,
                     0 0 180px burlywood,

    }
}
/* animation time to text */
.card .content h2 span:nth-child(1)
{
    -webkit-animation-delay: 0s;
}
.card .content h2 span:nth-child(2)
{
    -webkit-animation-delay: 0.2s;
}
.card .content h2 span:nth-child(3)
{
    -webkit-animation-delay: 0.4s;
}

.card .content h2 span:nth-child(4)
{
    -webkit-animation-delay: 0.6s;
}
.card .content h2 span:nth-child(5)
{
    -webkit-animation-delay: 0.8s;
}
.card .content h2 span:nth-child(6)
{
    -webkit-animation-delay: 0.12s;
}



.card .content p{
    color: crimson;
    font-size: 0.8em;
    margin-top: 20px;
}
/* open btn  */
.card .content a{
    position: relative;
    color: crimson;
    margin: 20px;
    padding: 5px 15px;
    border-radius: 30px;
    background: transparent;
    color: black;
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s;
    font-size: 0.5em;
}
.card .content a:hover {
    color: crimson;
    background: blanchedalmond;
    font-size: 0.8em;
}
/* icon gift */
.card .content a i{
    color: blanchedalmond;
    position: relative;
    padding: auto;
    left: 5%;
    height: 5px;
    width: 5px;
    transition: 0.5s;
    pointer-events: none;
}
.card .content a i:hover{
    color: crimson; 
}


/* video background */
.card .video-cointer{
    z-index: 1;
    pointer-events: none;
}
.card .video-cointer video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    height: 100vh;
   
}
/* resopnsive for desktop */
@media only screen and (min-width:760px)
{
        .card .video-cointer video
        {
        width: 100vw;
        height: auto;
        font-size: 0.5em;
        }
        .card .content h2{
            font-size: 2.2em;
            line-height: 2.5em;
            letter-spacing: 2px;
        }
        .card .content a{
            padding: 10px 20px;
            margin-top: 25px;
            font-size: 0.8em;
            
        }
        .card .content a:hover{
            font-size: 1em;
            width: 150px;
            display: inline-block;
        }
       .card .cricle .content p{
           font-size: 0.9em;
           padding-top: 25px;
       }
}

